/* @import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap'); */
/* @import url('https://fonts.cdnfonts.com/css/neue-haas-grotesk-display-pro'); */
/* @import url('https://fonts.cdnfonts.com/css/pp-neue-montreal'); */
/* @import url('https://fonts.cdnfonts.com/css/basic'); */
/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&family=Lato:wght@400;700;900&display=swap'); */

:root {

  /* font-family: 'Lato', sans-serif; */
  /* font-family: 'Neue Haas Grotesk Display Pro', sans-serif; */
  /* font-family: 'PP Neue Montreal', sans-serif; */
  
  /* font-family: 'Basic', sans-serif;
  line-height: 1.8; */

  /* font-family: 'Inter', sans-serif; */

  /* --primary-blue: #0052faff; 
  --primary-background: #edf8ffff; */

   /* --primary-blue: #023baf; */
 /* --primary-background: #ece5d0;  */
  
  /* --primary-blue: #0f72e6;
  --primary-background: #ddd8ce; */

  --primary-blue: #0801ff;
  --primary-background: #f5f1f1;

  --primary-grey: #dfdede;
  --primary-purple: #ac7ce4;
  --primary-black: #232325;

}

h1, h2, h3 {
  font-size: inherit; /* Tamaño de fuente heredado */
  font-weight: inherit; /* Peso de fuente heredado */
  margin: 0; /* Margen predeterminado eliminado */
  padding: 0; /* Relleno predeterminado eliminado */
  line-height: inherit; /* Altura de línea heredada */
  color: inherit; /* Color de texto heredado */
  /* Otras propiedades que desees restablecer */
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none; /* Elimina el subrayado */
}

/*
palette:
azul: #023baf
background: #ece5d0

azul: #0f72e6
background: #ddd8ce

*/
