/* @import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap'); */
/* @import url('https://fonts.cdnfonts.com/css/neue-haas-grotesk-display-pro'); */
/* @import url('https://fonts.cdnfonts.com/css/pp-neue-montreal'); */
/* @import url('https://fonts.cdnfonts.com/css/basic'); */
:root {

  /* font-family: 'Lato', sans-serif; */
  /* font-family: 'Neue Haas Grotesk Display Pro', sans-serif; */
  /* font-family: 'PP Neue Montreal', sans-serif; */
  
  /* font-family: 'Basic', sans-serif;
  line-height: 1.8; */

  --primary-blue: #0052faff;
  /* --primary-blue: #006effff; */
  /* --primary-white: #edf8ffff; */
  --primary-white: #fff8f2ff;
  /* --background-grey: #f1f1f1ff; */
  --background-grey: #edf8ffff;
  --primary-grey: #757575;
  --primary-purple: #ac7ce4;
  --primary-black: #232325;

}

h1, h2, h3 {
  font-size: inherit; /* Tamaño de fuente heredado */
  font-weight: inherit; /* Peso de fuente heredado */
  margin: 0; /* Margen predeterminado eliminado */
  padding: 0; /* Relleno predeterminado eliminado */
  line-height: inherit; /* Altura de línea heredada */
  color: inherit; /* Color de texto heredado */
  /* Otras propiedades que desees restablecer */
}

ul, ol {
  list-style: none;
}

/*
palette:

blanco: #f0f1fb
morado: #ac7ce4

azul claros:
azul-1: #8bacfb
azul-2: #718ffb
azul-3: #4b75f3


azul scuros:
azul-1: #0434e4
azul-2: #1f4aeb
azul-3: #2755ec

0052fa
0052faff
edf8ffff

f2f2f2ff

fff8f2ff
006effff

edf8ffff

0052faff
*/
